*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    /* font-family: 'Chonburi', cursive; */
}
body 
{
    background-color: #eee;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none !important;
}
p 
{
    margin-bottom: 0 !important;
}

/*load form Info + logout*/
.formInfo
{
    position: relative;
    z-index: 999;
}
.formInfo img 
{
    width: 20px;
    position: relative;
    margin-left: 5px;
   
}
.formInfo ul 
{
    position: absolute;
    right: 5px;
    top: 60px;
    display: flex;
    width: 280px;
    justify-content: space-around;
    padding: 20px 5px;
    border-radius: 5px;
    background-color: #eee;
    transition: .5s linear;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
}
.formInfo ul li 
{
    text-align: center;
}
.formInfo ul li:first-child 
{
    margin-right: 20px;
    border-right: 2px solid teal;
    padding-right: 15px;
    padding-left: 5px;
}

.formInfo ul.loadInfo
{
    opacity: 1;
    top: 40px;
    visibility: visible;
}
.formInfo .btnInfo
{
    color: navy;
    transition: .5s;
    position: relative;
    top: 4px;
}
.formInfo .btnInfo:hover
{
    color: tomato;
}

.formInfo .btnLogout 
{
    border-radius:5px;
    padding:5px 10px ;
    background:slateblue ;
    border: 1px solid slateblue;
    color:white;
    transition: .3s;
}
.formInfo .btnLogout:hover 
{
    background-color: white;
    color: slateblue;
}


/* header + main +footer = 16+76+8 = 100vh :v */
/* header---------------------------------------------- */
.header .animateTitle
{
   /* -webkit-box-reflect: below -30px linear-gradient(transparent,rgba(0,0,0,.2)); */
}
.header  h1 
{
    background-color: #34ace0;
    color: navy;
    font-family: 'Chonburi', cursive !important;
    text-transform: uppercase;
    min-height: 8vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 !important;
}

.header  .contentBox 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: white;
    background-color:#008d4c ;
    height: 8vh;
}
.header .contentBox .imgBox 
{
    display: flex;
    align-items: center;
    padding: 2px 8px;
}
.header  .contentBox .imgBox  img 
{
    width: 60px;
    height: 50px;   
    margin-right: 5px;
}

/* menu ------------------------------- */
.menuBtn 
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition:all .3s ease;
}
.menuBtn .btnHambuger
{
    width: 30px;
    margin: auto;
    height: 4px;
    border-radius: 3px;
    transition: all .3s ease;
    background-color: white;
}
.menuBtn .btnHambuger::before,
.menuBtn .btnHambuger::after
{
    position: absolute;
    content: '';
    width: 30px;
    margin: auto;
    height: 4px;
    transition: all .3s ease;
    border-radius: 3px;
    background-color: white;
}
.menuBtn .btnHambuger::before
{
    width: 17px;
    transform: translateY(-10px);
}
.menuBtn .btnHambuger::after
{
    width: 17px;
    transform: translateY(10px);
    right: 0;
}
/* Open menu */
.menuBtn.openmenu .btnHambuger::before
{
    transform: rotate(80deg) translate(-5.8px,-6.5px);
}
.menuBtn.openmenu .btnHambuger::after
{
    transform: rotate(80deg) translate(5.8px,6.5px);
}
.menuBtn.openmenu .btnHambuger
{
    transform: rotate(-40deg);
}

/*Button menu ------------------------------- */
/* menu-------------------------------------- */

.menuBar
{
    position: relative;
    background-color:#00a65a;
    width: 150px;
    height: 100%;
    left: -100%;
    transition: .5s ease-in-out;
    z-index: 99999;
}
.menuBar .imgBox 
{
    text-align: center;
}

.menuBar ul  li 
{
    position: relative;
    background-color: #374a52;
    border-bottom: 1px solid seagreen;
    width: 100%;
}
.menuBar ul li a 
{
    display: block;
    padding: 8px 10px;
    color: white;
    font-size: 18px;
    transition: .4s;
    margin-left: 5px;
}
.menuBar ul img 
{
    position: relative;
    width: 22px;
    bottom: 4px;
    margin-right: 2px;
}
.menuBar ul li.active
{
    border-left: 5px solid orange;
}
.menuBar ul li:hover
{
    border-left: 5px solid orange;

}
.menuBar ul li ul 
{
    display: none;
    position: absolute;
}
.menuBar ul li ul li 
{
    width: 220px;
}
.menuBar ul li:hover ul 
{
    display: block;
    border-left: 1px solid white;
    left: 100%;
    top: 0px;
}
.menuBar ul li a:hover
{
    padding-left: 22px;
}
/* .menuBar ul li ul li ul li 
{
    display:none;
}
.menuBar ul li ul li:hover li
{
    display: block;
} */
/* check menu */
#checkMenu
{
    display: none;
    visibility: hidden;
}
#checkMenu:checked ~ .menuBar
{
    left: 0px;
}
/* main------------------------------------------------------------- */
.main
{
    display: flex;
    position: relative;
    width:100%;
}
.main .containerMain
{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/bg.jpg);
    min-height: 78vh;
    width: 100%;
    left: 180px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .5s ease-in-out;
    overflow: hidden !important;

}
.main .containerMain .content 
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    flex-wrap: wrap;
}
.main .containerMain .content .box 
{
    border-radius: 10px;
    background-color: #eee;
    transition: .5s;
    position: relative;
    margin: 10px;
    overflow: hidden;
}
.main .containerMain .content .box a 
{
    display: block;
}
.main .containerMain .content .box:hover .title
{
    box-shadow: 0 0 0 10em teal;
}
.main .containerMain .content .box .title
{
    font-size: 25px;
    color: white;
    font-weight: 700;
    background-color: teal;
    display: inline-block;
    padding: 6px 15px;
    border-radius: 0 0 20px 20px ;
    transition: .5s linear;

}
.main .containerMain .content  .imgBox
{
    margin-top: 20px;
    max-width: 200px;
    max-height: 200px;
    padding: 10px;
    margin: auto;
}
.main .containerMain .content  .imgBox img 
{
    width: 100%;
    height: 100%;
}
/* menu end-------------------------------------- */

/* footer-------------------------------------- */
.footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #008d4c;
    padding: 5px 30px;
    min-height: 6vh;
    color: whitesmoke !important;
}
.footer a 
{
    color: whitesmoke;
    margin: 0 !important;
}
.footer p
{
    margin: 0 !important;
}
.footer p span 
{
    color: gold;
    padding-left: 5px;
}


/* footer end-------------------------------------- */
@media (max-width:468px )
{
    .main .containerMain .content 
    {
        margin-top: 10px;
    }
    .footer p
    {
        font-size: 14px;
        margin: 7px;
    }
    .footer
    {
        padding: 10px 30px;
    }
    .header  .contentBox h2 
    {
        display: none;
    }
}





